body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.align-center {
    text-align: center;
}

/* header */
header {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    position: fixed;
}

.nav-container {
    padding: 10px 300px 10px 300px;
    align-items: center;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 220px;
}

.nav-button {
    width: 250px;
    border-style: solid;
    border-color: rgb(20, 204, 96);
    text-align: center;
    border-radius: 15px;
    height: 50px;
}

.button-container :hover {
    background: rgb(20, 204, 96);
    color: white;
    border-radius: 15px ;
}

.nav-button-text {
    padding-top: 16px;
    margin: 0;
    font-size: medium;
    font-family: sans-serif;
}
/* /header */

/* first section */
.container-1 {
    width: 100%;
    background-image: linear-gradient(121deg, rgb(151, 186, 255), rgb(229, 253, 255) 100%);;
}

.contents {
    padding: 150px 350px 90px 350px;
}

#first-heading {
    margin: 0px;
    padding: 0;
    font-size: 30px;
}

#heading1 {
    color: rgb(99, 123, 255);
    font-size: 70px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: -1px;
    margin: 0px;
}

#heading2 {
    font-size: 70px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: -1px;
}

.card-container {
    display: flex;
}

.card-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0px;

    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.5) 1%, rgba(223, 232, 255, 0.2) 60%), 
                      linear-gradient(305deg, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.8));
    padding: 25px 48px 50px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-right: 24px;
    text-align: center;
    min-height: 290px;
}

.first-card-heading {
    color: rgb(99, 123, 255);
    font-size: 30px;
    font-weight: 900;
    margin: 0px 0px 20px 0px;
}

.first-card-description {
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgb(72, 72, 72);
    margin-bottom: 30px;
}

.first-card-button {
    background: rgb(20, 204, 96);
    border: none;
    height: 50px;
    width: 100%;
    padding: 0px 50px 0px 50px;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
/* /first section */

/* feedback */
.feedback {
    width: 100%;
    height: 1000px;
}

.feedback-container {
    padding: 100px 350px 0px 350px;
}

#feedback-heading1 {
    color: rgb(72, 72, 72);
    text-align: center;
    font-size: 50px;
    font-size: 55px;
}

#feedback-heading2 {
    color: rgb(99, 123, 255);
    text-align: center;
    font-size: 50px;
    font-size: 50px;
}

.feedback-videos {
    height: 300px;
    /* overflow: hidden; */
    list-style: none;
    padding: 0;
    z-index: 1;
    align-items: center;
}

.video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
}

.feedback-image {
    border-radius: 15px;
    width: 600px;
    /* height: 50px; */
}

.background-round {
    width: 150px;
    height: 150px;
    background: rgba(245, 95, 210, .25);
    border-radius: 100px;
    float: right;
}

.arrow-icon-right {
    font-size: 40px;
    margin-top: 150px;
    margin-right: 360px;
}

.arrow-icon-left {
    font-size: 40px;
    margin-top: 150px;
    margin-left: 500px;
}

.feedback-heading3 {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 100px;
}

.socialmedia-align {
    align-items: center;
    text-align: center;
    width: 400px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(206, 205, 205);
}

.youtube-gradient {
    font-size: 50px;
    font-weight: 40px;
    background-color: red;
    background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(254, 154, 37) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.twitter-gradient {
    font-size: 50px;
    font-weight: 40px;
    background-color: red;
    background-image: linear-gradient(rgb(101, 202, 238) 0%, rgb(53, 175, 223) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.instagram-gradient {
    font-size: 50px;
    font-weight: 40px;
    background-color: rgb(101, 202, 238);
    background-image: linear-gradient(rgb(208, 29, 110) 0%, rgb(251, 160, 69) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* /feedback */

/* footer */
footer {
    background: rgb(13, 10, 27);
    height: 500px;
    width: 100%;
    padding-top: 50px;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    /* justify-content: space-around; */
    padding-left: 33%;
    padding-top: 100px;
    line-height: 2em;
}

.footer-align {
    margin-right: 100px;
}

.footer-heading {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 25px;
}

.image-footer {
    margin-left: 45%;
}
/* /footer */